.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 15vw;
  color: aqua;
}
h3, h5, .timerDiv {
  font-family: 'Staatliches', cursive;
}
h2 {
  padding: 20px;
}
.options {
  font-size: 40px;
}
/* footer {
  padding: 20px 10px;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  background: #353a3f;
  border-top: 3px solid aqua;
  height: 30px;
} */
body{
  background: black;
  font-family: 'Staatliches', cursive;
}
/* #clearfix::after {
  Content: "";
  Display: block;
  Clear: both;
} */
#displayQuestionText{
  color: white;
  text-align: center;
}
#optionOneImg, #optionTwoImg  {
  width: 50%;
  height: 600px;
  background: grey;
  float: left;
  border-color: #fff;
}
#optionOneText, #optionTwoText{
  color:white;
  text-align: center
}
.timerDiv{
  float: left;
  color:white;
}
#timerCountdownBarRight, #timerCountdownBarLeft {
  width: 600px;
  height: 5px;
}
#timerCountdownBarRight div {
  height: 100%;
  color: #fff;
  line-height: 5px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #ff0022;
}
#timerCountdownBarLeft div {
  height: 100%;
  color: #fff;
  line-height: 5px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #ff0022;
  display: block;
}
.snatchButton {
  padding: 10px;
  margin: 10px;
}

