*, h3 {
    font-family: 'Staatliches', cursive;
    line-height: 1;
}

body {
    background: black;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 15vw;
    color: aqua;
    margin-top: 0;
    line-height: 1;
}

h5 {
    color: yellow;
}

/* Connor, is the below to work with the h1? I feel like we don't need an h1 on the game page. I think the bootstrap code will accomplish anything else */
/* #canvas {
    margin: 40px;
    margin-top: 0;
} */

/* .main-wrapper {
    height: 100vh;  
}

.character {
    height: 33vw;
} */

/* .nav-link {
    padding: 20px 20px 0 20px;
} */

/* .leaderboard, li {
    color: white;
}

#individualScore, #scoreBanner {
    color: white;
} */
